body {
  background-image: url("https://cdn.discordapp.com/attachments/1118000206227714161/1121398451503108096/saibb_blackwhite_line_drawing_high_resolution_Edward_Bawden_09164b68-f023-4c0f-8aa9-9c484223c9db.png");
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#wechat {
  color: black;
  text-shadow: 0 0 5px white;
}

#search {
  width: 300px;
  padding: 10px;
}

#language {
  background-color: transparent;
  border: 1;
  color: black
  text-shadow: 0 0 10px white;
}

#content {
  text-align: center;
  margin-top: 100px;
}

#ledao {
  font-size: 99px;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 10px black;
}

#slogan {
  font-size: 36px;
  margin-top: 20px;
  color: white;
  text-shadow: 0 0 10px black;
}

#social-links {
  margin-top: 40px;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  transition: background-color 0.3s;
}

.social-link:hover {
  background-color: hotpink;
}

#domains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.domain {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 0 10px black;
}

.domain h2 {
  font-size: 24px;
}

.domain img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
}

.description {
  display: none;
  margin-top: 20px;
}

#discord {
  background-color: hotpink;
  border-color: hotpink;
}

#instagram {
  background-color: hotpink;
  border-color: hotpink;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1118000206227714161/1121398451503108096/saibb_blackwhite_line_drawing_high_resolution_Edward_Bawden_09164b68-f023-4c0f-8aa9-9c484223c9db.png");
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  height: 100%; /* 设置页面高度为100% */
  overflow-y: scroll; /* 添加垂直滚动样式 */
}

/* 其他样式代码 */

#content {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px; /* 添加底部间距，使内容超过视口高度 */
}
