body {
background-image: url("https://cdn.discordapp.com/attachments/1118000206227714161/1121398451503108096/saibb_blackwhite_line_drawing_high_resolution_Edward_Bawden_09164b68-f023-4c0f-8aa9-9c484223c9db.png");
background-size: cover;
color: white;
font-family: Helvetica, bold;
height: 100%;
overflow-y: scroll;
transition: all 0.3s ease;
}

#header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
transition: all 0.3s ease;
}

#wechat {
color: white;
text-shadow: 0 0 5px white;
transition: all 0.3s ease;
}

#xiaohongshu {
color: white;
text-shadow: 0 0 5px black;
transition: all 0.3s ease;
}

#search {
width: 300px;
padding: 5px;
transition: all 0.3s ease;
}

#language {
background-color: transparent;
border: 0.5;
color: black
text-shadow: 0 0 10px white;
transition: all 0.3s ease;
}

#content {
text-align: center;
margin-top: 100px;
padding-bottom: 100px;
transition: all 0.3s ease;
}

#ledao {
font-size: 99px;
cursor: pointer;
color: white;
text-shadow: 0 0 10px black;
transition: all 0.3s ease;
}

#slogan {
font-size: 36px;
margin-top: 20px;
color: white;
text-shadow: 0 0 10px black;
transition: all 0.3s ease;
}

#social-links {
margin-top: 40px;
transition: all 0.3s ease;
}

.social-link {
display: inline-block;
margin: 0 10px;
padding: 10px 20px;
text-decoration: none;
color: white;
border: 1px solid white;
transition: background-color 0.3s;
}

.social-link:hover {
background-color: hotpink;
transition: all 0.3s ease;
}

#domains {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 100px;
transition: all 0.3s ease;
}

.domain {
width: 30%;
transition: all 0.3s ease;
}

.domain:hover {
background-color: rgba(0, 0, 0, 0.5);
transition: all 0.3s ease;
}

.description {
display: none;
color: white;
background-color: rgba(0, 0, 0, 0.5);
padding: 10px;
transition: all 0.3s ease;
}

#wechat, #xiaohongshu {
    position: relative;
    margin-right: 10px; 
}

#wechat .hover-img {
    display: none;
    position: absolute;
    width: 300px; 
    height: 330px;
    z-index: 100;
}

#xiaohongshu .hover-img {
    display: none;
    position: absolute;
    width: 400px;  
    height: 630px;
    z-index: 100;
}

