body {
    font-family: 'Poppins', sans-serif;
}

.social-link-container {
    font-size: 20px;
    margin-top: 10px;
}

.social-link-container a {
    color: #FB607F; /* 设置链接颜色为粉色 */
}

#wechat {
    font-size: 18px;
    margin-right: 10px;
}

#topics {
    display: flex;
    justify-content: space-between;
}

.topic {
    flex: 1;
    margin: 20px;
    cursor: pointer;
}

.topic img {
    display: none;
    width: 200px;
    height: 200px;
}

.topic:hover img {
    display: block;
}

.topic:hover h2 {
    display: none;
}
